# https://github.com/coinbase/salus/blob/master/docs/configuration.md

# Used in the report to identify the project being scanned.
project_name: CLI

# Defines where to send Salus reports and in what format.
reports:
  - uri: file://salus-report.txt
    format: txt

# All scanners to execute, or the String value "all"/"none"
active_scanners:
  - Gosec
  - PatternSearch
  - RepoNotEmpty
  - GoOSV
  - GoVersionScanner
  - GoPackageScanner
  - ReportGoDep
  - Trufflehog

# All scanners that will exit non-zero if they fail, or the String value "all"/"none"
enforced_scanners: "all"

scanner_configs:
  GoVersionScanner:
    error:
      min_version: '1.18.0'
