name: build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.24' # GO_VERSION_DEF
        check-latest: true
    - name: Checkout
      uses: actions/checkout@v5
      with:
        path: ./src/github.com/${{ github.repository }}
    - name: Build
      run: make build
      env:
        GOPATH: ${{ runner.workspace }}

  check:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.24' # GO_VERSION_DEF
        check-latest: true
    - name: Checkout
      uses: actions/checkout@v5
      with:
        path: ./src/github.com/${{ github.repository }}
    - name: GoReleaser Check
      uses: goreleaser/goreleaser-action@v6
      with:
        version: latest
        args: check
      env:
        GOPATH: ${{ runner.workspace }}
