on:
  push:
  schedule:
    - cron: '0 0 * * *'

name: Salus security scan

jobs:
  salus_scan_job:
    runs-on: ubuntu-latest
    name: Salus Security Scan
    steps:
    - uses: actions/checkout@v2
    - name: Salus Scan
      id: salus_scan
      uses: federacy/scan-action@0.1.3
      env:
        SALUS_CONFIGURATION: "file://salus-config.yaml"
      with:
        report_uri: file://./salus-report.txt
        report_format: txt
    - uses: actions/upload-artifact@master
      if: failure()
      with:
        name: Scan results
        path: ./salus-report.txt
